# Ignore Python cache files
__pycache__
*.pyc
*.pyo

# Ignore virtual environment directories
venv
env
.venv

# Ignore git files
.git
.gitignore

# Ignore other unnecessary files
Dockerfile
.dockerignore
*.log
*.db

# Ignore VS Code settings
.vscode
